html{
  height: 100%;
}
body {
  /* これが画面全体に行くようにする */
  background-image: url(img/background.svg);
  background:linear-gradient(70deg, rgba(15, 155, 32, 0.4), rgba(255, 255, 255, 0.4));
  background-attachment: fixed;
  min-height: 100%;
}

#header {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

.logo {
  margin-left: 1%;
}

.genre-wrapper {
  /* margin-right: 20%; */
}

.genre-heading {
  /* margin-bottom: 10%; */
}

.genre_btn {
  background-color: rgba(15,155,32,0.26);
}

.active-genre {
  background-color: #7eee3e;
  color: #fff;
}

#panel-container {
  display: block;
  /* grid-template-columns: repeat(5, 60px); */
  /* gap: 14px; */
  /* justify-content: center; */
  width: 100%;
  min-height: 400px;
  height: 60vh;
  margin-bottom: 3%;
  position: relative;
}

.panel {
  background: #6cf;
  color: #222;
  border-radius: 50%;
  font-size: 1em;
  padding: 0;
  /* height: 5vh; */
  width: 95px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: opacity 0.5s, transform 0.5s, background 0.3s; */
  transition: transform 0.3s ease;
  opacity: 1;
  font-weight: bold;
  box-shadow: 0 2px 8px #4448;
  position: absolute;
}
.panel:hover{
  /* display: inline-block; */
  transform: scale(1.2)
}

.panel.faded {
  opacity: 0.2;
  transform: scale(0.7);
}

.panel.active {
  background: #ffd700;
  color: #d33;
  box-shadow: 0 0 14px #ffd700, 0 2px 8px #4448;
}
